.button {

    -webkit-text-size-adjust: 100%;
    font: 1.2em 'M PLUS Rounded 1c',sans-serif;

    -webkit-font-smoothing: antialiased;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 400;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "kern","liga","clig","calt";
    box-sizing: inherit;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25em;
    text-align: center;
    /*color: rgb(51, 51, 51);*/
    color: black;
    border: 1px solid rgb(51, 51, 51);
    background-color: transparent;
    margin-right: 1rem;
    margin-bottom: 2rem;


}

.button:hover {
    -webkit-text-size-adjust: 100%;
    font: 1.2em 'M PLUS Rounded 1c',sans-serif;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 400;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "kern","liga","clig","calt";
    box-sizing: inherit;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25em;
    text-align: center;
    background-color: transparent;
    margin-right: 1rem;
    margin-bottom: 2rem;
    outline-width: 0;
    color: white;
    border: 1px solid rgb(240, 231, 219);
    /*color: rgb(28, 28, 225);*/
    /*border: 1px solid rgb(28, 28, 225);*/
    box-shadow: rgb(240, 231, 219) 4px 4px 0px 0px;
}